<!DOCTYPE html>

<html>
    <head>
        <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
        <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">

        <meta name="viewport" content="width=device-width" />

        <title>@ViewBag.Title</title>
    </head>
    <body>
        <header>
            <div class="container">
                <nav class="navbar navbar-default">
                    <div class="container-fluid">
                        <div class="navbar-header">
                            <a class="navbar-brand" href="#">Books</a>
                        </div>

                        @using (Html.BeginForm("RepublishAllEvents", "Command", FormMethod.Post, new { @class = "navbar-form navbar-left" }))
                        {
                            @Html.AntiForgeryToken()
                            @Html.Hidden("ReturnUrl", Request.RawUrl)

                            <div class="form-group">
                                <button class="btn btn-primary">Republish all events</button>
                            </div>
                        }
                    </div>
                </nav>
            </div>
        </header>

        <main>
            <div class="container" role="main">
                @RenderBody()
            </div>
        </main>

        <footer>
            <div class="container">
                <p>CodeUtopia</p>
            </div>
        </footer>
    </body>

    <script src="~/Scripts/jquery-2.1.1.min.js"></script>
    <script src="~/Scripts/knockout-3.2.0.js"></script>
    
    @RenderSection("Scripts", false)
</html>