@model IReadOnlyCollection<BookModel>

@if (Model.Any())
{
    <table class="table table-bordered table-striped">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ElementAt(0)
                                                   .BookId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ElementAt(0)
                                                   .Title)
            </th>
            <th>
            </th>
        </tr>
        @foreach (var book in Model)
        {
            <tr>
                <td>
                    @Html.ActionLink(book.BookId.ToString(), "Details", new
                                                                        {
                                                                            id = book.BookId
                                                                        })
                </td>
                <td>
                    @Html.DisplayFor(model => book.Title)
                </td>
                <td>
                    @using (Html.BeginForm(null, null, new
                                                       {
                                                           id = book.BookId
                                                       }, FormMethod.Post))
                    {
                        @Html.AntiForgeryToken()

                        <button class="btn btn-primary" @(book.IsBorrowed ? "disabled" : "") name="Borrow">Borrow</button>
                        <button class="btn btn-primary" @(book.IsBorrowed ? "" : "disabled") name="Return">Return</button>
                    }
                </td>

            </tr>
        }
    </table>
}
else
{
    <p>No books found.</p>
}