@model IReadOnlyCollection<BookModel>

@if (Model.Any())
{
    <table class="table table-bordered table-striped">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ElementAt(0)
                                                   .BookId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ElementAt(0)
                                                   .Title)
            </th>
            <th>
            </th>
        </tr>
        @foreach (var book in Model)
        {
            <tr>
                <td>
                    @book.BookId
                </td>
                <td>
                    @Html.DisplayFor(model => book.Title)
                </td>
                <td>
                    <button class="btn btn-primary borrow-book" @(book.IsBorrowed ? "disabled" : "") name="Borrow" data-book-id="@book.BookId">Borrow</button>
                    <button class="btn btn-primary return-book" @(book.IsBorrowed ? "" : "disabled") name="Return" data-book-id="@book.BookId">Return</button>
                </td>

            </tr>
        }
    </table>
}
else
{
    <p>No books found.</p>
}